.conteiner {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 400px;
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    input,
    textarea {
      border-radius: 8px;
      height: 30px;
      background: #c0c0c0;
      border: none;
      color: black;
      outline: none;
    }
    textarea {
      height: 60px;
    }
  }
}
