.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 8px;
  padding: 10px;
  box-sizing: border-box;

  .card {
    width: 100%;
    min-height: 50px;
    background: #ffffff;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    .imgC {
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 12px;
      }
    }
    .caption {
      font-size: 1.1rem;
      font-weight: 1000;
      color: #79d063;
    }
    .description {
      font-size: 0.8rem;
      color: gray;
    }
  }
}
